.git
.gitignore
.env
.env.*
vendor
node_modules
npm-debug.log
docker-compose.yml
Dockerfile
.editorconfig
.agents
AGENTS.md
README.md
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
